/* MainMenu.css */

.main-menu {
    background: url('../../assets/images/main_menu_forest_background.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute; /* Set the position of the container to absolute */
  }
  
  .main-menu-container {
    text-align: left;
    bottom: 0;
    padding-left: 5vw; /* Add padding for better readability */
    padding-bottom: 5vh; /* Add padding for better readability */

  }

  .game-title {
    color: #fff;
    font-size: 10vw;
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
    cursor: default;
    
  }
  
  .menu-options {
    list-style-type: none;
    font-size: 2em;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
  }
  
  .menu-options li {
    margin: 15px 0;
  }
  
  .menu-options a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 3vw;
    display: block;
    transition: color 0.3s ease;
  }
  
  .menu-options a:hover {
    color: #ffd700;
  }
  