@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Satisfy&display=swap');

.settings-page {
    background: url('../../assets/images/old-book-open-dark-wood-background.jpg') center/cover no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/*Settings Title*/
.settings-container h1 { 
    color: black;
    font-size: 6vw;
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
    cursor: default;
    text-align: left;
    margin-left: 22vw;
    margin-top: 2vh;
}

/*Controls both Volume header and current volume*/
.volume-section {
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
    
}

/*Controls volume header*/
.volume-section h2 {
    font-size: 3vw;
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin-right: 40vw;
    margin-bottom: 2vh; 
    margin-top: -4vh;
}

/*styles the current volumer*/
.volume-section p {
    font-size: 1.5vw;
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin-right: 40vw;
    margin-bottom: 2vh; 
}

.slider {
    text-align: center;
    margin-right: 40vw;
    margin-bottom: 2vh; 
}

/*Chrome control style of range slider*/
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 8vw;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #6E260E;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #6E260E;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #6E260E; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #6E260E; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}

.keybind-section {
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
     
}

.keybind-section h3 {
    font-size: 3vw;
    font-family: 'Roboto Slab', serif;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin-right: 40vw;

    
}

.keybind-section label {
    display: block;
    font-size: 1.5vw;
    text-align: right;
    margin-right: 64vw;

}

.mainButton {
    text-align: right;
    margin-right: 18vw;
    
} 
